{% extends "dashboard-base.html" %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Catalog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Silver <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Gold</a></li>
        <li><a href="#">Platinum</a></li>
        <li><a href="#">Palladium</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<h3 class="sub-header">Stack</h3>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Purchase Date</th>
					<th>Ingot</th>
					<th>Price</th>
					<th>Weight</th>
					<th>Sale</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Blah</td>
					<td>Blah</td>
					<td>Blah</td>
					<td>Blah</td>
					<td>Blah</td>
					<td>
						<a href="#">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</td>
				</tr>
{% comment "Optional note" %}
			{% for entry in stack_entries %}
				<tr>
					<td>{{ entry.purchase.timestamp|date:"Y-m-d" }}</td>
					<td>{{ entry.ingot.name }}</td>
					<td>{{ entry.bought_for }}</td>
					<td>{{ entry.ingot.mass.friendly_name }}</td>
					<td>
					{% if entry.sold_for %}
						{{ entry.sold_for }}
					{% else %}
						-
					{% endif %}
					</td>
					<td>
						<a href="#">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</td>
				</tr>
			{% endfor %}
{% endcomment %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
