<!DOCTYPE html>
<html>
<head>
<title>StackTrack</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link href="/static/homepage.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="container">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-book"></span> StackTrack <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/dashboard/">Dashboard</a></li>
						<li><a href="/catalog/">Catalog</a></li>
						<li><a href="#">Getting Started with Ruby on Heroku</a></li>
						<li class="divider"></li>
						<li><a href="#">Getting Started on Heroku with Heroku Connect</a></li>
						<li><a href="#">Getting Started with Ruby on Heroku (Microsoft Windows)</a></li>
					</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a>
			</li>
			<li class="navbar-right">
				<a href="#"><span class="glyphicon glyphicon-user"></span> Account</a>
			</li>
		</ul>
		<form class="navbar-form navbar-right">
			<input type="text" class="form-control" placeholder="Search..." />
		</form>
	</div>
</nav>

{% block content %}{% endblock %}

{% include "javascript-libs.html" %}
</body>
</html>
