{% extends "dashboard-base.html" %}
{% load staticfiles %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Dashboard | {{ username }}</h1>

	<div class="row placeholders">
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
		<div class="col-xs-6 col-sm-3 placeholder">
			<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
			<h4>Label</h4>
			<span class="text-muted">Something else</span>
		</div>
	</div>

	<h2 class="sub-header">Section title</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Purchase Date</th>
					<th>Ingot</th>
					<th>Price</th>
					<th>Weight</th>
					<th>Sale</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tbody>
			{% for entry in stack_entries %}
				<tr>
					<td>{{ entry.purchase.timestamp|date:"Y-m-d" }}</td>
					<td>{{ entry.ingot.name }}</td>
					<td>{{ entry.bought_for }}</td>
					<td>{{ entry.ingot.mass.number }} {{ entry.ingot.mass.unit.name }}</td>
					<td>
					{% if entry.sold_for %}
						{{ entry.sold_for }}
					{% else %}
						-
					{% endif %}
					</td>
					<td>
						<a href="#">
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
