{% extends "dashboard-base.html" %}
{% load staticfiles %}

{% block content %}

<form id="stack-addition-form" method="post">
	{% csrf_token %}
	<div class="row show-grid">
		<div class="row show-grid">
			<h2 class="page-header">{{ ingot.name }}</h2>
		</div>
		<div class="col-md-4">
			<div class="row show-grid">
				<h2 class="page-header">{{ ingot.name }}</h2>
			</div>

			<!-- Obverse / Reverse image -->
			<div class="row">
				<img class="img-responsive"
				     src="http://placehold.it/150x150"
				     alt="">
				<img class="img-responsive"
				     src="http://placehold.it/150x150"
				     alt="">
			</div>
			<hr>
			<!-- Upload images -->
			<div class="row">
				<div class="form-group">
					<input id="input-images"
					       name="{{ form.uploading_imgs.html_name }}"
					       type="file"
					       class="file-loading"
					       accept="image/*"
					       multiple></input>
					{{ form.uploading_imgs.errors }}
				</div>
			</div>
		</div>
		<div class="col-md-8">
			{{ form.non_field_errors }}
			<div class="row show-grid">
				{# Sale post url #}
				<div class="col-md-12">
					<div class="form-group">
						{{ form.sale_post.errors }}
						<label class="control-label"
						       for="{{ form.sale_post.id_for_label }}">Sale Posting</label>
						<div class="input-group">
							{# convert to site icon when URL is inserted #}
							<span class="input-group-addon">http://</span>
							<input type="url"
							       class="form-control"
							       id="{{ form.sale_post.id_for_label }}"
							       placeholder="ebay.com/itm/..."
							       aria-describedby="{{ form.sale_post.id_for_label }}-help"
							       name="{{ form.sale_post.html_name }}"
							       value="{{ form.sale_post.value | default_if_none:"" }}">
							</input>
						</div>
						<span id="{{ form.sale_post.id_for_label }}-help"
						      class="help-block">{{ form.sale_post.help_text }}</span>
					</div>
				</div>
			</div>
			<div class="row show-grid">

				{# Purchase price #}
				<div class="col-md-6">
					<div class="form-group">
						{{ form.purchase_price.errors }}
						<label class="control-label"
						       for="{{ form.purchase_price.id_for_label }}">Purchase price</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-usd"></span>
							</span>
							<input type="text"
							       class="form-control"
							       id="{{ form.purchase_price.id_for_label }}"
							       placeholder="Purchase price"
							       aria-describedby="{{ form.purchase_price.id_for_label }}-help"
							       name="{{ form.purchase_price.html_name }}"
							       value="{{ form.purchase_price.value | default_if_none:"" }}">
							</input>
						</div>
						<span id="{{ form.purchase_price.id_for_label }}-help"
						      class="help-block">{{ form.purchase_price.help_text }}</span>
					</div>
				</div>

				{# Shipping price #}
				<div class="col-md-6">
					<div class="form-group">
						{{ form.shipping_price.errors }}
						<label class="control-label"
						       for="{{ form.shipping_price.id_for_label }}">Shipping &amp; Handling</label>
						<div class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-usd"></span>
							</span>
							<input type="text"
							       class="form-control"
							       id="{{ form.shipping_price.id_for_label }}"
							       placeholder="Shipping &amp; Handling"
							       aria-describedby="{{ form.shipping_price.id_for_label }}-help"
							       name="{{ form.shipping_price.html_name }}"
							       value="{{ form.shipping_price.value | default_if_none:"" }}">
							</input>
						</div>
						<span id="{{ form.shipping_price.id_for_label }}-help"
						      class="help-block">{{ form.shipping_price.help_text }}</span>

					</div>
				</div>
			</div>
			<div class="row show-grid">

				{# Shipment tracking #}
				<div class="col-md-12">
					<div class="form-group">
						{{ form.tracking_num.errors }}
						<label class="control-label"
						       for="{{ form.tracking_num.id_for_label }}">Tracking</label>
						<div class="input-group">
							{# convert to shipping company icon when added #}
							<span class="input-group-addon">http://</span>
							<input type="test"
							       class="form-control"
							       id="{{ form.tracking_num.id_for_label }}"
							       placeholder="usps.com/itm/..."
							       aria-describedby="{{ form.tracking_num.id_for_label }}-help"
							       name="{{ form.tracking_num.html_name }}"
							       value="{{ form.tracking_num.value | default_if_none:"" }}">
							</input>
						</div>
						<span id="{{ form.tracking_num.id_for_label }}-help"
						      class="help-block">{{ form.tracking_num.help_text}}</span>
					</div>
				</div>
			</div>
			<div class="row show-grid">

				{# Purchase date #}
				<div class="col-md-9">
					<div class="form-group">
						{{ form.purchase_date.errors }}
						<label class="control-label"
						       for="{{ form.purchase_date.id_for_label }}">Purchase date</label>
						<div class="input-group date" id="datetimepicker">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<input type='text'
							       class="form-control"
							       id="{{ form.purchase_date.id_for_label }}"
							       aria-describedby="{{ form.purchase_date.id_for_label }}-help"
							       name="{{ form.purchase_date.html_name }}"
							       value="{{ form.purchase_date.value | default_if_none:"" }}">
							</input>
						</div>
<!--						<script type="text/javascript">
							$(function() {
								$('#{{ form.purchase_date.id_for_label }}').datetimepicker({
									language: 'en',
						      pick12HourFormat: true
								});
							});
						</script>-->
						<span id="{{ form.purchase_date.id_for_label }}-help"
						      class="help-block">{{ form.purchase_date.help_text }}</span>
					</div>
				</div>

				{# Submit button #}
				<div class="col-md-3">
					<button type="submit"
					        class="btn btn-primary btn-block">Submit</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">
	function getCookie(c_name)
	{
		if (document.cookie.length > 0)
		{
			c_start = document.cookie.indexOf(c_name + "=");
			if (c_start != -1)
			{
				c_start = c_start + c_name.length + 1;
				c_end = document.cookie.indexOf(";", c_start);
				if (c_end == -1) c_end = document.cookie.length;
				return unescape(document.cookie.substring(c_start,c_end));
			}
		}
		console.log("No cookie found by name: " + c_name);
		return "";
	}

	$(function () {
		$('#datetimepicker').datetimepicker({
			defaultDate: moment(),
		});

		$("#input-images").fileinput({
			uploadUrl: "/site/image-upload",
			allowedFileExtensions: ["jpg", "png", "gif"],
			resizeImage: false,
			showUpload: false,
			showCancel: false,
		}).on('filepreupload', function() {
			$('#kv-success-box').html('');
		}).on('fileuploaded', function(event, data) {
			$('#kv-success-box').append(data.response.link);
			$('#kv-success-modal').modal('show');
		});
	});


	$.ajaxSetup({
		headers: { "X-CSRFToken": getCookie("csrftoken") }
	});

	var form = $('form#stack-addition-form');
	form.bind('submit', function(event){
			event.preventDefault();

			var formData = JSON.stringify(form.serializeArray());
			
			$.ajax({
					type: "POST",
					url: "/stack/add/json/",
					data: formData,
					dataType: "json",
					cache: false,
					success: function() {
						console.log("Success!");
					},
					contentType : "application/json"
			}).done(function() {
				console.log("Finishing up!");
			}).fail(function() { 
				console.log("Failure!");
			});

			return true;
	});
</script>

{% endblock %}
